Source: stream-schedule-webapp
Section: sound
Priority: optional
Maintainer: Milan Chrobok <mc@radiopiloten.de>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: perl
Standards-Version: 3.9.5
Homepage: https://launchpad.net/~mc-1/+archive/stream-schedule

Package: stream-schedule-webapp
Architecture: all
Depends: ${misc:Depends},
 apache2,
 libapache2-mod-perl2,
 libdata-compare-perl,
 libnumber-compare-perl,
 libcgi-application-perl,
 stream-schedule
Description: web gui for stream scheduler
 a web gui to show status, plots and logs
