html,table{
	font-family:sans-serif;
	font-size:1rem;
	line-height:2rem;
}

body{
	margin:0;
	padding:0;
	background:#555;
}

div,p,a{
    color:#fff;
}

div.header{
    display: flex;
    justify-content: center;
	padding:0.5rem;
	background-color:#000;
	border-bottom:1px solid white;
}

h3{
	margin:0;
	background:white;
	color:black;
	text-align:center;
	opacity:0.5;
	display:block;
}

div#time{
	padding:1.5rem;
	float:right;
	line-height:1rem;
	display:block;
}

div#time td{
	white-space:nowrap;
}

div.header ul{
	list-style-type: none;
}

div.header li{
	float:left;
}

a{
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

div.header a{
	font-size:1em;
	font-weight:bold;
	color:menutext;
	padding:1rem;
}

div.header a:hover{
	opacity:0.8;
}

table{
	width:100%;
}

div#time table{
	width:18em;
}

div.panel table tr:nth-child(2n){
	background-color:f0f0f0;
}

div.command{
	white-space:pre;
}

pre, div.command{
    line-height:1rem;
}

div.schedule table,
div.schedule table{
}

.info{
    color:#000;
	background:yellow;
}

.error{
    color:#000;
	background:red;
}

.okay{
    color:#000;
	background:green;
}

span.icon{
	background-repeat:no-repeat;
}

div.error,
div.info,
div.okay{
	padding:1rem;
}

div.error span.icon{
	background-image:url('alert.png');
}

div.info span.icon{
	background-image:url('warn.png');
}

th{
	text-align:left;
}

th.date{
	width:12em;
}

td.date{
	font-family:mono;
}

table{
	border-collapse:1;
}

div.panel tr{
}

div.panel td{
	border-bottom:0.1rem solid #ccc;
	padding:0.3rem;
	margin:0;
}

div.panel{
	padding:0.6rem;
	border:0;
}

tr.old{
	opacity:0.6;
}

tr.current td{
    padding:1rem;
    color:white;
    background:#090;
}

