<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="css/stream-schedule.css" />
<script type="text/javascript" src="js/schedule.js"></script>
</head>
<body>
<nav id="header">
    <ul>
        <li><a href="/stream-schedule">Status</a></li>
        <li><a href="/stream-schedule/stations">Stations</a></li>
        <li><a href="/stream-schedule/log?date=today">Log</a></li>
        <li><a href="$outputStream" target='_blank'>Stream</a>
        <li><button id="sync-button" style="float:right">Sync from GCal</button></li>
        <li><button id="restart-button" style="float:right">Restart</button></li>
    </ul>
</nav>