<!doctype html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

	<link rel="stylesheet" type="text/css" href="css/stream-schedule.css" />

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/schedule.js"></script>
</head>

<body>
<div id="header">
    <ul>
	    <li>
		    <a href="index.cgi">Status</a>
	    </li>
	    <li>
		    <a href="index.cgi?stations=1">Stations</a>
	    </li>
	    <li>
		    <a href="index.cgi?action=sync">Update from Google Calendar</a>
	    </li>
	    <li>
		    <a href="index.cgi?action=restart">Restart</a>
	    </li>
	    <li>
		    <a href="log.cgi?date=today">Log</a>
	    </li>
	    <li>
		    <a href="index.cgi?details=1">Debug</a>
	    </li>
	    <li>
		    <a href="$outputStream" target='_blank'>Stream</a>
	    </li>
    </ul>
</div>


